# Ignore virtual environment
.venv/

# Python bytecode
*.pyc
*.pyo
__pycache__

# Environment files
.env
*.env

# IDE-specific files (for VSCode, PyCharm, etc.)
.vscode/
.idea/

# Mac OS system files
.DS_Store

# Log files
*.log

# Package distribution folders
dist/
build/
*.egg-info