{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>Qui sommes nous</h1>
      <img src="{{ url_for('static', filename='img/titre_2022.jpg') }}" alt="Ddescription of image" class="poster" style="width:100%">

    <a href="/conducter">Chef de choeur</a>
    <a href="/member">Membres</a>
<p>L'Ensemble Vocal les Palpitants est né en automne 2021, au cœur de la pandémie, une époque où les pratiques vocales étaient plus que jamais contrariées. Et pourtant, malgré les défis, l'ensemble a su trouver une énergie vibrante, un véritable souffle créatif. Avec une vingtaine de chanteurs amateurs passionnés, venus de toute la région, du nord de la France, de Lille à Saint-Omer, et même de Paris, cet ensemble se distingue par la qualité de ses voix, toutes solidement formées musicalement et vocalement. Ils cherchent à s'unir dans un lieu de pratique où l'art choral se vit pleinement, avec exigence et enthousiasme.</p>

<p>Placés sous la direction de la cheffe de chœur Adélaïde Stroesser, les Palpitants ont collaboré avec la metteuse en scène Séverine Ragaigne pour créer un projet original et émouvant. Ensemble, ils ont imaginé un spectacle où l’art choral rencontre l’univers visuel du photographe Laurent Prum. Les chants et les harmonies chorales, issus de diverses époques, s’entrelacent autour du thème profond de la migration et de l’exil. Un voyage musical qui relie des histoires humaines uniques, mais universelles, celles de ces hommes et de ces femmes qui, poussés par les remous de la vie, partent, traversent les mers, résistent, et se heurtent à nos propres questionnements sur l’accueil et le partage.</p>



    <h1>Mission</h1>
          <img src="{{ url_for('static', filename='img/berceuse.jpg') }}" alt="Ddescription of image" class="poster" style="width:50%">

<p>Le style musical de ce projet est une fusion captivante de diverses traditions et genres, offrant une richesse sonore qui traverse les âges et les cultures. L'ensemble vocal mêle des influences classiques, contemporaines et traditionnelles, avec une prédominance de musique chorale polyphonique. L'approche musicale se distingue par des harmonies complexes, des rythmes variés et des textures vocales profondes, créant une expérience sonore immersive et émotive.</p>

<p>Les œuvres classiques et liturgiques, comme celles de Poulenc, Nystedt et Pärt, apportent une dimension spirituelle, souvent minimaliste, avec des lignes de chant sereines et méditatives qui contrastent avec des moments plus intenses et dramatiques. D'autres compositions, telles que celles de Lorca et Andreo, injectent une énergie poétique et narrative, où la musique devient un moyen d'expression de la nature, des conflits intérieurs et des luttes humaines.</p>

<p>Le programme s'ouvre également à des influences culturelles plus orientales et méditerranéennes, comme le chant traditionnel levantin <strong>Il Bint il Shalabiya</strong>, où la musique devient festive, dansante et pleine de vie. Cette variété permet de naviguer entre des ambiances mélancoliques, contemplatives et des moments de joie vibrante, offrant au public un voyage sonore à la fois poignant et jubilatoire.</p>

<p>La diversité des styles musicaux - du chant choral solennel et méditatif aux mélodies populaires riches en rythmes et couleurs - reflète la diversité des expériences humaines et des cultures. Chaque pièce semble tirer son énergie de la quête de sens et de réconciliation, créant une atmosphère à la fois introspective et engageante, invitant à la réflexion tout en permettant une ouverture à l'espoir et à la solidarité.</p>

    <h1>Histoire</h1>



    
{% endblock %}